@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* Typical Device Breakpoints

Pequenas telas: vão até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

body{
    background-image: linear-gradient(to bottom, rgb(30, 30, 30), rgb(56, 56, 56));
    color: white;
}
main {
    padding: 20px;
}

main > img {
    display: block;
    width: 7rem;
    margin: auto;
}
section{
    width: 80%;
    margin: auto;
    margin-bottom: 20vh;
}
p{
    line-height: 1.5em;
}
.text-01{
    font-style: italic;
    font-family: sans-serif;
}
.text-02{
    font-family: serif;
}
h1{
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}
@media (min-width: 800px){
    *{
        font-size: 17px;
    }
}