@charset "Utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4em;
}
header{
    margin-bottom: 5vh;
    background-color: rgb(0, 79, 79);
    padding: 20px 0px 0px;
}
header img{
    display: block;
    margin: auto;
    width: 10vw;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}
ul a{
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 25%;
}

.evo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    padding: 20px;
}
.evo div{
    width: 25%;
    max-height: 50vh;
    padding: 10px;
}
.evo img{
    width: 75%;
    display: block;
    margin: auto;
}
h3{
    font-weight: bold;
    text-align: center;
}
.hist{
    padding: 20px;
    margin: 30px auto 10vh;
    max-width: 90vw;
}
h4{
    text-align: center;
    margin: 20px 0;
    font-size: 1.7em;
}
@media (max-width: 768px){
    .evo div{
        width: 33.3%;
        margin: 30px auto;
    }
    nav a{
        margin: 4px 0;
    }
    header img{
        width: 15vw;
    }
}
@media (max-width: 600px){
    .evo div{
        min-width: 50%;
        margin: 30px auto;
    }
    nav a{
        margin: 4px 0;
    }
    header img{
        min-width: 20vw;
    }
}