* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

header {
  height: 50px;
  box-shadow: 0px 5px 10px 0px rgba(194, 192, 194, 1);
  background-color: #E3E3E3;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: bold;
  color: #656D78;
  font-family: monospace;
}

main {
  margin: 50px 0px;
}
#if{
  display: none;
}
.inp {
  margin: auto;
  width: 25%;
}

label {
  text-align: center;
}

input {
  display: block;
  margin: auto;
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 10px;
  text-align: center;
  font-size: 2em;
}

.content {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

button {
  background-color: white;
  outline: none;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:nth-child(1):hover {
  background-color: #4d5055;
  border: 2px solid #4d5055;
  color: white;
}

button:nth-child(2):hover {
  background-color: rgb(151, 20, 20);
  border: 2px solid rgb(151, 20, 20);
  color: white;
}



#idSs{
  text-align: center;
  font-size: 1.7em;
  font-family: monospace;
  margin-top: 50px;
  box-sizing: border-box;
}
#idSs p{
  display: inline;
  background-color: #4d5055;
  color: white;
  padding: 10px 10px 0px 10px;
  border-radius: 20px 20px 0px 0px;
}
#descricaoSs{
  text-align: center;
  font-size: 1.7em;
  font-family: monospace;
  border: 2px solid gray;
  border-radius: 10px;
  display: block;
  width: 80vw;
  margin: auto;
  padding: 20px;
}
#desc{
  text-align: center;
}
#abt{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto 0px;
}
#abt p{
  border-bottom: 1px solid black;

}
.type{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto 0px;
}
.type p{
  background-color: #f1f1f1;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: lowercase;
  font-size: 0.7em;
}
.type strong{
  border-bottom: 1px solid black;
}
#gut{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  font-size: 0.9em;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  position: relative;
}
#gut h2{
  position: absolute;
  top: -18px;
  left: 45%;
  background-color: white;
  z-index: 1;
}
#gut p{
  max-width: 33%;
  min-width: 32%;
}